[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DiegoGeek
[access "refs/for/refs/*"]
	read = group user/DiegoGeek
	push = group user/DiegoGeek
	label-Code-Review = -2..+2 group user/DiegoGeek
	label-Verified = -1..+1 group user/DiegoGeek
	rebase = group user/DiegoGeek
	removeReviewer = group user/DiegoGeek
	submit = group user/DiegoGeek
[access "refs/heads/*"]
	read = group user/DiegoGeek
	create = group user/DiegoGeek
	push = +force group user/DiegoGeek
	pushMerge = group user/DiegoGeek
[access "refs/tags/*"]
	push = group user/DiegoGeek
	push = +force group user/DiegoGeek
